{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
    <div class="container">
        <h1>Вы успешно разлогинились!</h1>
        <p>Если захотите вернуться в преисподнюю, нажимте кнопку</p>
        <a href="https://oauth.vk.com/authorize?client_id=53105762&display=page&redirect_uri=https://devfront.groupposter.ru/auth/&scope=email&response_type=token&v=5.131" 
           class="vk-button">
            Войти через VK
        </a>
    </div>
</body>
</html>
